# editorconfig.org
# see also https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties#ideas-for-domain-specific-properties
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length  = 120

[*.md]
trim_trailing_whitespace = false

[*.properties]
max_line_length  = 200

[*.{js,mjs, ts,tsx,jsx}]
quote_type = single
